.renameInput {
  max-width: 240px;
  font-weight: 600;
}

.folderName {
  cursor: pointer;
  color: #1677ff;
  font-weight: 600;
}

.fileName {
  font-weight: 600;
}

.publicLink {
  margin-top: 4px;
  word-break: break-all;
}

.publicLinkCode {
  font-size: 12px;
}

.folderIcon {
  font-size: 24px;
  color: #faad14;
}

.fileIcon {
  font-size: 24px;
  color: #1677ff;
}
